{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "18.16"
                }
            }
        ],
        "@babel/typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "alias": {
                    "~": "./src"
                }
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ],
    "comments": false,
    "sourceMaps": "inline",
    "ignore": [
      "**/*.d.ts"
    ]
}
