{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "project": "./tsconfig.json"
    },
    "extends": [
        "airbnb-base",
        "airbnb-typescript/base"
    ],
    "env": {
        "node": true,
        "es2020": true,
        "jest": true
    },
    "globals": {
        "jest": true
    },
    "plugins": [
        "@typescript-eslint",
        "import-helpers"
    ],
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    },
    "rules": {
        "operator-linebreak": "off",
        "function-paren-newline": "off",
        "implicit-arrow-linebreak": "off",
        "object-curly-newline": "off",
        "radix": "off",
        "no-console": [
            "error",
            {
                "allow": [
                    "warn"
                ]
            }
        ],
        "max-len": [
            "warn",
            150
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "padded-blocks": [
            "error",
            {
                "classes": "always"
            }
        ],
        "arrow-parens": [
            "warn",
            "as-needed"
        ],
        "no-unused-vars": [
            "warn",
            {
                "args": "none"
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "never"
            }
        ],
        "newline-per-chained-call": [
            "error",
            {
                "ignoreChainWithDepth": 2
            }
        ],
        "class-methods-use-this": "off",
        "no-useless-constructor": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/test/*",
                    "**/*.test.ts",
                    "**/*.test.js",
                    "**/*.spec.ts",
                    "**/*.spec.js"
                ]
            }
        ],
        "import-helpers/order-imports": [
            "warn",
            {
                "newlinesBetween": "always",
                "groups": [
                    "module",
                    "/^~/",
                    [
                        "parent",
                        "sibling",
                        "index"
                    ]
                ],
                "alphabetize": {
                    "order": "asc",
                    "ignoreCase": true
                }
            }
        ],
        "@typescript-eslint/indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "@typescript-eslint/lines-between-class-members": [
            "error",
            "always",
            {
                "exceptAfterSingleLine": true
            }
        ],
        "@typescript-eslint/comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "never"
            }
        ],
        "@typescript-eslint/type-annotation-spacing": [
            "error",
            {
                "after": true
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "rules": {
                "no-undef": "off"
            }
        }
    ]
}
