# generated
dist/
coverage/
node_modules/

uploads/
mysql/data/
reports/data/fs.journal
reports/data/fs.version
reports/data/profiles
reports/data/settings

*.env*
!.env.example
.eslintcache

*.log
npm-debug.log
