services:
  postgres:
    image: postgres:18
    container_name: herbario_postgresql
    environment:
      POSTGRES_DB: $PG_DATABASE
      POSTGRES_USER: $PG_USERNAME
      POSTGRES_PASSWORD: $PG_PASSWORD
    volumes:
      - ./postgresql:/var/lib/postgresql
    ports:
      - ${PG_PORT:-5432}:5432
    shm_size: 128mb

  api:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    image: hcf-api:local
    container_name: herbario_api
    env_file: .env
    ports:
      - $PORT:$PORT

  nginx:
    image: nginx:1.17-alpine
    container_name: berbario_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./uploads:/usr/share/nginx/html
    ports:
      - 8080:80
