TZ=America/Sao_Paulo
CRON_SCHEDULE="0 0 * * *"

SPLINKER_TOKEN=
SPLINKER_DATABASE_HOST=localhost
SPLINKER_DATABASE_PORT=5432
SPLINKER_DATABASE_NAME=herbario_dev
SPLINKER_DATABASE_USERNAME=postgres
SPLINKER_DATABASE_PASSWORD=masterkey
