[defaults]
inventory = inventory
roles_path = roles
host_key_checking = false
retry_files_enabled = false
interpreter_python = auto_silent
vault_password_file = inventory/.vault_pass

[ssh_connection]
pipelining = true
