:root {
  font-size: 16px; /* base: 1rem = 16px */
}

* {
  box-sizing: border-box;
}

html, body, table#tablePage {
  width: 100%;
  margin: 1.875rem 0;
  padding: 0;
}

.content-container {
  width: 100%;
  padding: 0 2.5rem;
  margin: 0;
}

body {
  font-family: 'Source Serif 4', Arial;
  font-size: 0.75rem;
  color: #000;
}

h1, h2, h3 {
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.875rem;
}

h3 {
  font-size: 0.625rem;
  margin-top: 0.625rem;
}

p {
  font-size: 0.625rem;
  margin-bottom: 0.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.75rem; /* 12px */
}

th, td {
  padding: 0.25em 0.375em;
  text-align: left;
}

th {
  font-weight: bold;
}

tfoot {
  font-size: 0.625rem;
  text-align: right;
  margin-top: 0.625rem;
}

.grupoComBorda {
  border: 1px solid #808080;
  padding: 2px; 
  margin-bottom: 10px;
  width: 100%; 
  border-radius: 5px; 
  page-break-after: always;
}

.nomeGrupoContainer {
  align-items: center; 
  justify-content: left; 
  background-color: #D3D3D3; 
  border-radius: 5px;
  width: 100%;
}

.nomeGrupo {
  margin: 0; 
  padding: 5px 10px; 
  font-weight: 500;
  width: 100%;
  font-size: 14px;
}

.tabelaComBordaSimples {
  border-bottom: 2px solid #E4E4E4;
}

.col1 {
  width: 30%;
  font-size: 14px;
}

.col2 {
  width: 70%;
  font-size: 14px;
}

.grupoLocalColeta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grupoLocalColeta div:first-child {
  display: flex;
  gap: 0.5rem;
  width: calc(40);
}

.grupoLocalColeta div:last-child {
  width: calc(60);
}

.grupoLocalColeta div h1 {
  white-space: nowrap;         /* impede quebra de linha */
  overflow: hidden;            /* esconde o que ultrapassa */
  text-overflow: ellipsis;  
  text-align: left;
}

.grade-imagens {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-template-rows: repeat(6, auto);  /* 6 linhas */
  gap: 10px;
  padding: 20px;
}
